<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>會員登入成功</title>
    <link href="https://annawang2021.github.io/2021/assignment/week6/static/week6style.css" rel="stylesheet" media="all">
  </head>

  <body>
    <h3>歡迎光臨，這是會員頁</h3>
    <div class="member">
        Hello, {{realname}}
        
        <!--也可以使用flash()顯示
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{message}} 
          {% endfor %} 
        {% endif %}
        {% endwith %} -->

        歡迎您登入系統<br/>
       <a href="/signout">登出系統</a>
    </div>

  </body>
</html>
