*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3{
    background-color: rgb(99, 92, 90);
    color: white;
    padding: 1.5vw 1.5vh;
    text-align: center;
}

.sign_in_section{
    border: 1px solid black;
    color:chocolate;
    margin: 3vh 1.5vw;
    padding: 2vh;
    text-align: center;
    line-height: 8vh;
    

}

input {
    line-height: 3.5vh;
    /* padding: 0.5vw 0.5vh; */
}

.sumbmit_btn{
    color: crimson;

}

button{
    padding: 0.5vh 0.5vw;
   

}

