<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>week4</title>
    <link href="/static/week4style.css" rel="stylesheet" media="all">
  </head>

  <body>
    <h3>歡迎光臨，請輸入帳號密碼</h3>
    <form class="sign_in_section" action="/signin" method="POST">
        登入系統 <br/>
        <label>帳號 <input type="text" name="userName"  autofocus placeholder="abcd"/></label> <br/>
        <label>密碼 <input type="text" name="password"/></label> <br/>
        <!-- <input type="submit" value="送出" class="submit_btn"/><br/> -->
        <button>點擊送出</button>
        
    </form>

    

  </body>
</html>